.main{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.addTodo{
 height:50px;
 width:300px;
 padding-right:100px;
}

.check{
  width:80px;
}